<!DOCTYPE html>
<html lang="en">
<%- include('../head'); %>

  <body>
    <section id="loading_animation"
      style="z-index: 999; position: absolute; width: 100vw; height: 100vh; display: flex;align-items: center; justify-content: center; background-color: #ffffff;">
      <!-- <img src="/img/loading/boot_anime.webp" width="100" height="100"> -->
      <img src="/img/loading/Loading_progress.gif" height="10">
    </section>

    <section class="flowing_pagger p-1 bg-frost">
      <div class="dot_list">
        <a id="page-item-1" onclick="scrollToSmoothly(0),
        dashboard_page('page_1')
        " class="bg-primary dot"></a>
        <a id="page-item-2" onclick="scrollToSmoothly(document.getElementById('page_2').offsetTop -10),
        dashboard_page('page_2')" class="bg-secondary dot"></a>
        <a id="page-item-3" onclick="scrollToSmoothly(document.getElementById('page_3').offsetTop),
        dashboard_page('page_3')" class="bg-secondary dot"></a>
      </div>

    </section>

    <section id="main_content" style="display: '';">
      <!-- Navbar Start -->
      <%- include('../navbar'); %>
        <!-- Navbar End -->
        <div class="off-canvas">
          <!-- Sidebar Start -->
          <div id="sidebar-id" class="off-canvas-sidebar">
            <%- include('../sidenav'); %>
          </div>
          <!-- Sidebar end -->
          <a class="off-canvas-overlay" href="#close"></a>
          <div class="off-canvas-content">
            <!-- off-screen content -->
          </div>
        </div>

        <!-- Body Start -->
        <div class="container">
          <%- include('body'); %>
        </div>

        <div class="row column col-12">
          <%- include('../footer'); %>
        </div>
        </div>
  </body>

</html>