<!DOCTYPE html>
<html lang="en">
<%- include('../head'); %>

    <body id="body-pd">
        <%- include('../navbar'); %>
            <%- include('../sidenav'); %>

                <%- include('customerInfo/index'); %>
                    <%- include('../footer'); %>
    </body>

</html>