<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>

  <body>
    <div class="container">
      <div class="columns">
        <div class="row column col-12">
          <%- include('navbar'); %>

        </div>
        <div class="columns col-12 row">
          <!-- <div class="column col-2">
            <%- include('sidenav'); %>
          </div> -->
          <div class="column col-12">
            <%- include('body'); %>
          </div>
        </div>
        <div class="row column col-12">
          <%- include('footer'); %>
        </div>





      </div>
    </div>
  </body>

</html>