<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>

  <body>
    <div class="container">
      <div class="columns">
        <div class="row column col-12">
          <%- include('navbar'); %>
            <%- include('sidenav'); %>

        </div>
        <div class="columns col-12 row">



          <%- include('body'); %>

        </div>
        <div class="row column col-12">
          <%- include('footer'); %>
        </div>





      </div>
    </div>
  </body>

</html>