<!DOCTYPE html>
<html lang="en">
<%- include('../head'); %>

  <body>
    <section id="loading_animation"
      style="z-index: 999; position: absolute; width: 100vw; height: 100vh; display: flex;align-items: center; justify-content: center; background-color: #ffffff;">
      <!-- <img src="/img/loading/boot_anime.webp" width="100" height="100"> -->
      <img src="/img/loading/Loading_progress.gif" height="10">
    </section>
    <div class="container" id="main_content" style="display: '';">

      <div class="columns">
        <div class="row column col-12">
          <%- include('../navbar'); %>
        </div>
        <div class="columns col-12 row">
          <div class="column col-md-2 hide-md">
            <%- include('../sidenav'); %>
          </div>
          <div class="column col-10 col-md-12">
            <%- include('body'); %>
          </div>
        </div>
        <div class="row column col-12">
          <%- include('../footer'); %>
        </div>
      </div>

    </div>
  </body>

</html>